@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background-image: url(imagens/show.jpg);
    background-size: cover;
    background-position: right;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 180px;
    width: 110px;
    border-radius: 20%;

    box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.668);
    transition: 0.5s;
}

#img p {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: #33333351;
    z-index: 1;
}

#img img.spotify {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: 0.7s;
}

#img #principal {
    position: absolute;
    border-radius: 20%;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.7s;
}

#img:hover img.spotify {
    opacity: 1;
}

#img:hover #principal {
    opacity: 0.3;
}

#container a {
    border-radius: 20%;
    text-decoration: none;
    color: white;
    font-size: 0.6em;
    text-shadow: 1px 1px 1px black;
}

#titulo {
    background-color: white;
    font-family: 'Shantell Sans', cursive;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(2px);
    padding: 10px;
    margin-top: 5px;
}

#titulo h1 {
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(255, 255, 0, 0.458);
    font-variant: small-caps;
}

#titulo p {
    font-size: 1em;
    text-align: center;
    text-shadow: 0 0 10px white;
    font-weight: 500;
}

#countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    border: none;
    margin: 5px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(2px);
    border-radius: 0 0 20px 20px;
}

div#countdown div {
    width: calc(50% - 10px);
    height: 100px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.199);
    box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.422);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.2em;
}

span {
    font-size: 0.55em;
}